version: '3'

services:
  nginx:
    image: nginx
    ports:
      - "80:80"
    volumes:
      - .:/app
      - ./deploy/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
      - db

  php:
    build:
      context: .
      dockerfile: deploy/docker/Dockerfile
    volumes:
      - .:/app
      - ./deploy/php/php.ini:/usr/local/etc/php/conf.d/php.ini
      - ./deploy/php/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini
    environment:
      DB_CONNECTION: pgsql
      DB_HOST: db
      DB_PORT: 5432
      DB_DATABASE: serieslist
      DB_USERNAME: serieslist
      DB_PASSWORD: serieslist

  composer:
    image: composer
    volumes:
      - .:/app
    command: install --ignore-platform-reqs

  db:
    image: postgres
    environment:
      POSTGRES_USER: serieslist
      POSTGRES_PASSWORD: serieslist
    volumes:
      - ./.data/postgres:/var/lib/postgresql/data
    ports:
      - 5432:5432
