version: '3'

services:
  nginx:
    image: nginx
    expose:
      - 8000
    volumes:
      - .:/app
      - ./deploy/nginx/production/default.conf:/etc/nginx/conf.d/default.conf
      - /etc/letsencrypt/archive/serieslist.joosep.xyz:/etc/nginx/certs
    depends_on:
      - php
      - serieslist_db
    environment:
      VIRTUAL_HOST: serieslist.joosep.xyz
      VIRTUAL_PORT: 8000
      LETSENCRYPT_HOST: serieslist.joosep.xyz
      LETSENCRYPT_EMAIL: joosep.alviste@gmail.com

  php:
    build:
      context: .
      dockerfile: deploy/docker/production/Dockerfile
    volumes:
      - .:/app
      - ./deploy/php/production/php.ini:/usr/local/etc/php/conf.d/php.ini
    environment:
      DB_CONNECTION: mysql
      DB_HOST: serieslist_db
      DB_PORT: 3306
      DB_DATABASE: serieslist
      DB_USERNAME: serieslist
      DB_PASSWORD: serieslist
    user: ${CURRENT_UID}

  composer:
    image: composer
    volumes:
      - .:/app
    command: install --ignore-platform-reqs
    user: ${CURRENT_UID}

  serieslist_db:
    image: mysql:5.6
    environment:
      - MYSQL_DATABASE=serieslist
      - MYSQL_USER=serieslist
      - MYSQL_PASSWORD=serieslist
      - MYSQL_ROOT_PASSWORD=serieslist
    volumes:
      - .data/mysql:/var/lib/mysql
      - ./deploy/mysql:/etc/mysql/conf.d
    user: ${CURRENT_UID}


networks:
  default:
    external:
      name: nginx-proxy

