// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600)

// Variables
@import "includes/variables"
@import "includes/mixins"

// Bulma
@import "~bulma"


// Page

.site
  /* Sticky footer */
  display: flex
  min-height: 100vh
  flex-direction: column

  .site-content
    flex: 1


// Form

.label.is-required
  &::after
    color: $danger
    content: " *"


// Layouts

.form-card
  margin-top: 20px

.title.has-tag
  display: flex
  align-items: center

  .tag
    .delete
      display: none

    &:hover .delete
      display: block

.tag.has-hover
  &.is-default:hover
    background: $white-bis

  &.is-primary:hover
    background: darken($primary, 5%)


// Utilities

.mt-1
  margin-top: 1em

.ml-1
  margin-left: 1em


// Show episode page

.next-episode__container
  display: flex
  justify-content: flex-end
