// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600")

// Variables
@import "includes/variables"
@import "includes/mixins"

// Bulma
@import "~bulma"


// Page

.site
  /* Sticky footer */
  display: flex
  min-height: 100vh
  flex-direction: column

  .site-content
    flex: 1


// Form

.label.is-required
  &::after
    color: $danger
    content: " *"


// Layouts

.form-card
  margin-top: 20px

.title.has-tag
  display: flex
  align-items: center

  .tag
    .delete
      display: none

    &:hover .delete
      display: block

.tag.has-hover
  &.is-default:hover
    background: $white-bis

  &.is-primary:hover
    background: darken($primary, 5%)

.hero.is-primary.is-bold
  background-image: linear-gradient( 135deg, #3B2667 10%, #BC78EC 100%)

  .nav-menu
    @media screen and (max-width: $tablet - 1)
      background: rgba(0, 0, 0, .2)

.navbar
  padding: 0 9em

  @media screen and (max-width: $tablet - 1)
    padding: 0


// Utilities

.mt-1
  margin-top: 1em

.ml-1
  margin-left: 1em

.mb-1
  margin-bottom: 1em

.image

  &.is-103x150
    height: 150px
    width: 103px

  &.is-182x268
    height: 268px
    width: 182px
  //@each $dimension in $image-dimensions
  //  &.is-#{$dimension}x#{$dimension}
  //    height: $dimension * 1px
  //    width: $dimension * 1px


// Show episode page

.next-link__container
  display: flex
  justify-content: flex-end


// Series list page

.hero.hero--bottom-padding
  .hero-body
    padding-bottom: 13rem
    padding-top: 5rem

.series-list__page-title
  display: flex
  justify-content: space-between

.series-list__container
  margin-top: -8em

ul.series-list
  list-style: none
  margin-left: 0

.series-list__element
  padding: 15px 30px

  &:not(:last-child)::after
    display: block
    content: ""
    border-bottom: 1px solid lightgrey
    width: 90%
    margin: 30px auto 0 auto

.series-list__element-container
  display: flex

.series-list__poster
  img
    height: 150px

.series-list__content-container
  padding-left: 15px

.series-list
  .series-list__title
    margin-bottom: .5rem


// Search

.search__field .input
  border: none
  border-radius: 0
  border-bottom: 2px $primary solid
  box-shadow: none
